.profile__heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (max-width: 704px) {
  .profile__heading {
    justify-content: center;
    transform: translateX(9px);
  }
}


