.profile__edit {
    margin-left: 18px;
    transition: .3s ease-in;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .profile__edit {
      width: 18px;
      height: 18px;

      margin-left: 10px;
    }
  }