.header__logo {
    width: 142px;
    aspect-ratio: 4.3;
    height: auto;
    background: url(../../../images/logo/logo.svg) no-repeat center/cover;

    transition: .3s ease-in;

    margin-bottom: 41px;
  }
  
  .header__logo:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 630px) {
    .header__logo {
      width: 104px;
      aspect-ratio: 4.3;
      height: auto;

      margin-bottom: 32px;
    }
  }