.popup__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;

  margin: 29px 0 0;
  padding: 0;
  padding-bottom: 13px;

  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__description::placeholder {
  color: #000000;
}