.profile__edit {
  transition: .3s ease-in;

  background: no-repeat center url(../../../images/Pen.svg);

  width: 24px;
  height: 24px;
  padding: 0 12px;
  margin-left: 18px;
  
  border: 1px solid rgb(255, 255, 255);
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .profile__edit {
      background: no-repeat center url(../../../images/Pen_min.svg);
      width: 18px;
      height: 18px;
      padding: 0 9px;
      margin-left: 10px;
    }
  }