.elements {
  margin-top: 50px;

  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 914px) {
  .elements {
    margin: 36px 17px 0;
  }
}