.popup__conteiner {
  position: relative;

  margin: 0;
  display: block;
  
  max-width: 358px;
  padding:34px 36px 37px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius:10px;
}

@media screen and (max-width: 526px) {
  .popup__conteiner {
    max-width: 238px;
    padding: 25px 22px;
  }
}